IFACE_UCI='vwan2'
DEV='veth1'
ISP='ctcc'
LOGIN_ID='YOUR_CTCC_ID'
LOGIN_PW='YOUR_PASSWORD'
TIME_UNLIMITED='0'
PAUSE_MWAN3='1'
RENEW_BEFORE_LOGIN='1'
RANDOMIZE_MAC_ON_RENEW='1'
CHECK_URL='http://connect.rom.miui.com/generate_204'
